.summary-container {
  background-color: #2ecc71;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.summary {
  text-align: center;
}

.summary h1 {
  margin: 0.5rem 0;
}
