
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(3px);
  z-index: 99;
  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal-content {
  background-color: #ffffff;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #efefef;
}
