body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.floating-button {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #2ecc71;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
}

.floating-button:hover,
.floating-button:active
{
  transform: rotate(45deg);
}
